<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/cmu_icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style/line_without.css' %}">
</head>
<body> 
    <div class="box">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'song_lyrics' %}">Back</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="glass">
<div class="lyrics">
    <h1>Line Without a Hook</h1>
<p>
I don't really give a damn about the way you touch me
When we're alone
You can hold my hand
If no one's home
Do you like it when I'm away?
If I went and hurt my body, baby
Would you love me the same?
I can feel all my bones coming back
And I'm craving motion
Mama never really learned how to live by herself
</p>
 <br>
 <p>
It's a curse
And it's growing
You're a pond and I'm an ocean
Oh, all my emotions
Feel like explosions when you are around
And I've found a way to kill the sounds, oh
</p>
<br>
<p>
Oh, baby, I am a wreck when I'm without you
I need you here to stay
I broke all my bones that day I found you
Crying at the lake
Was it something I said to make you feel like you're a burden?
Oh, and if I could take it all back
I swear that I would pull you from the tide
</p>
<br>
<p>
Oh, whoa, whoa, whoa
I said no, I said no
Listen close, it's a no
The wind is a-pounding on my back
And I found hope in a heart attack
Oh, at last, it is past
Now I've got it, and you can't have it
</p>
<br>
<p>
Oh, baby, I am a wreck when I'm without you
I need you here to stay
I broke all my bones that day I found you
Crying at the lake
Was it something I said to make you feel like you're a burden? Oh
And if I could take it all back
I swear that I would pull you from the tide
</p>
<br>
<p>
Darling, when I'm fast asleep
I've seen this person watching me
Saying, "Is it worth it? Is it worth it? Tell me, is it worth it?"
</p>
<br>
<p>
'Cause there is something, and there is nothing
There is nothing in between
And in my eyes, there is a tiny dancer
Watching over me, he's singing
"She's a, she's a lady, and I am just a boy"
He's singing, "She's a, she's a lady, and I am just a line without a hook"
</p>
<br>
<p>
Oh, baby, I am a wreck when I'm without you
I need you here to stay
Broke all my bones that day I found you
Crying at the lake
Was it something I said to make you feel like you're a burden? Oh
And if I could take it all back
I swear that I would pull you from the tide
</p>
</div>
</div>
</div>
</body>
</html>