<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swicy Lyrics</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/cmu_icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style/swicy.css' %}">
</head>
<body>
    <div class="box">
    <nav>
        <ul>
            <li>
                <a href="{% url 'song_lyrics'%}"> Back</a>
            </li>
        </ul>
    </nav>
    </div>
   <div class="container">
    <div class="glass">
<h1>UNIS(유니스) ‘SWICY’ Official M/V</h1>
     <h3>[Korean:]</h3>
    <p>
        Chocolate, taco and ice cream
        Kimchi fries, 고추장 쿠키
        자극적인 맛있는 음식들 모두
        채우지 못해 need it something new
        상상의 단어로 can make it everything
        짓궂은 chilli, 다정한 syrup
        따분하던 너의 일상에 fresh bite
        더 해줄 수 있어 난 flavor
    </p>
    <br>
    <p>
        끝도 없이 리필해 my mind, like tornado
        알 수 없는 감정의 drama
        아찔하지만 달콤한 순간
        참지 못해 터질거야
    </p>
    <br>
    <p>
        삼켜봐 swicy
        여러 가지 recipe로
        포크로 콱 맘을 가둬
        알잖아 swicy
        조금 쉬워져도
        아직 말야 살짝 쿵 매운 girl
    </p>
    <br>
    <p> 
        사르르르 swicy
        사르르르르르 sweet and spicy
        사르르르 swicy
        너를 홀릴 my recipe
        사르르르 swicy
        사르르르르르 sweet and spicy
        자꾸 끌려 넌— (Ah-ah)
    </p> 
    <br>
    <p>
        Who's that swi-swicy girl
        모두들 수군대지
        용기 없이 늘 뒤에 있지
        넘쳐나는 관심은 즐겨볼게
        맘에 든 concept과 좋아한 dessert도
        나조차 몰라 매번 달라져
        안경도 dress도 찰떡인 난데
        하나만 딱 고르긴 어려워 (다 가질래)
    </p> 
    <br>
    <p>
        어떻게 더 날 표현할까?
        베일에 싸인
        캐릭터도 나쁘진 않아
        다 알겠다고 착각할 때
        반전을 좀 보여줄까?
    </p>
    <br>
    <p>
        삼켜봐 swicy
        여러 가지 recipe로
        포크로 콱 맘을 가둬
        알잖아 swicy
        조금 쉬워져도
        아직 말야 살짝 쿵 매운 girl
    </p>
    <br>
    <p>
        사르르르 swicy
        사르르르르르 sweet and spicy
        사르르르 swicy
        너를 홀릴 my recipe
        사르르르 swicy
        사르르르르르 sweet and spicy
        자꾸 끌려 넌— (Ah-ah)
    </p>
    <br>
    <p>
        네가 찾던 friend, 상상 못 한 taste
        아마도 그건 내가 정답인데
        괜찮은 느낌, 새로운 떨림
        선물은 나란 걸
        자 kick이다
        Da-da-da-ra-ra-ra-da
        Da-da-da-ra-ra-ra
    </p>
    <br>
    <p>
        한 입 더 swicy
        멈춰보려 해도
        입안 가득 남아 맴도는 love ya
        사르르르 swicy
        사르르르르르 sweet and spicy
        사르르르 swicy
        너를 홀릴 my recipe
        사르르르 swicy
        사르르르르르 sweet and spicy
        자꾸 끌려 넌— (Ah-ah)
    </p> 
    <br>
    <p>
        Ah-ah
        Ah-ah-ah
        Swicy
    </p>

</div>
</div>
</body>
</html>